/* Base Styles CSS */

h1 {
  padding-top: 60px;
  font-size: xx-large;
  font-family: 'Newsreader', serif;
  font-weight: lighter;
  }
  
  
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  }
  
h3 {
  font-family: 'Newsreader', serif;
  font-weight: lighter;
  }

body {
  color: #352e2c;
  margin-left: 96px;
  margin-right: 96px;
  font-family: 'Roboto', sans-serif;
  }

footer {
  padding: 200px;
  text-align: center;
  background-color: #f5f5f5;
  color: #352e2c;
} 


/* NavHeader CSS */

#navHeader {
justify-content: space-between;
display: flex;
font-family: 'Roboto Condensed', sans-serif;
font-weight: bold;
align-items: flex-end;
}

#aboutHeader {
padding: 60px;
}

#menuButtons {
display: flex;
}

#menuButtons li {
margin-right: 20px;
list-style: none;
}

#menuButtons li:hover {
text-decoration: underline;
}

.navBar {
background-color: #efefef;
height: 195px;
width: 100%;
display: flex;
justify-content: space-between;
}

.tealBox {
width: 90%;
height: 100%;
background-color: #7ffde6;
}
    
.paddingBox {
height: 100%;
width: 20%;
background-color: #FFFFFF;
}
    
/* Portfolio Grid CSS */

.footerNav {
font-family: 'Roboto', sans-serif;
align-content: center;
}

#skillsGrid {
  margin: 0px 5%;
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas:
  "sg1 sg2 sg3";
}

.skg {
}

.skillsGridImage {
	transition: all .1s ease-in-out; 
  height: 300px;
  width: 300px;
}

.skillsGridImage:hover { 
  transform: scale(1.12); 
}
#portfolioHomeGrid {
  margin: 0px 5%;
  grid-gap: 16px;
  padding-bottom: 160px;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas:
  "phg1 phg2 phg3"
  "phg4 phg5 phg6"
  "phg7 phg8 phg9";
}

.padding { 
  padding: 60px;
}

.phg { 
	transition: all .1s ease-in-out; 
  background-color: #f5f5f5;
}

.phg:hover { 
  transform: scale(1.12); 
}

.gridImage {
  height: 100%;
  width: 100%;
}

/* CASE STUDIES PAGE STYLES */

.caseStudyImage {
	transition: all .1s ease-in-out; 
  height: 300px;
  width: 600px;
}

.caseStudyImage:hover { 
  transform: scale(1.05 ); 
}

.caseRight {
  grid-gap: 16px;
  display: grid;
  padding: 60px;
  grid-template-columns: 600px 300px;
  grid-template-areas:
  "caseImageLeft caseTextRight";
}

.caseLeft {
  grid-gap: 16px;
  display: grid;
  padding: 60px;
  grid-template-columns: 300px 600px;
  grid-template-areas:
  "caseTextLeft caseImageRight";
}

.caseStudy {
  column-width: span;
  height: 100%;
  width: 100%;
}


.descText {
  color: #352e2c;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}


/* BREAKPOINTS */

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #portfolioHomeGrid {
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px;
    grid-template-columns: 300px;
    grid-template-areas:
    "phg1"
    "phg2"
    "phg3"
    "phg4"
    "phg5"
    "phg6"
    "phg7"
    "phg8"
    "phg9";
  }
    ;}


@media only screen and (max-width: 600px) {


    #skillsGrid {
      grid-template-columns: 300px;
      grid-template-areas:
      "sg1"
      "sg2"
      "sg3";
    }
    ;}