/* Base Styles CSS */

h1 {
  font-size: xx-large;
  font-family: 'Newsreader', serif;
  font-weight: lighter;
  align-content: left;
  }
  
  
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  align-content: left;
  }
  
h3 {
  font-family: 'Newsreader', serif;
  font-weight: lighter;
  align-content: left;
  }

body {
  margin-left: 96px;
  margin-right: 96px;
  font-family: 'Roboto', sans-serif;
  }

footer {
  padding-top: 50px;
  display: inline;
  text-align: center;
  text-size-adjust: small;
  background-color: #f5f5f5;
  color: #7ffde;
}
      



/* NavHeader CSS */

#navHeader {
border: solid orange 5px;
justify-content: space-between;
display: flex;
font-family: 'Roboto Condensed', sans-serif;
font-weight: bold;
align-items: flex-end;
}

#menuButtons {
display: flex;
}

#menuButtons li {
margin-right: 20px;
list-style: none;
}


.navBar {
background-color: #efefef;
border: solid yellow 5px;
height: 195px;
width: 100%;
display: flex;
justify-content: space-between;
}


.tealBox {
width: 90%;
height: 100%;
background-color: #7ffde6;
}
    
.paddingBox {
height: 100%;
width: 20%;
background-color: #FFFFFF;
}
    
/* Portfolio Grid CSS */


.bodyText {
font-family: 'Roboto', sans-serif;
}

.footerNav {
font-family: 'Roboto', sans-serif;
align-content: center;
}

.gridImage {
  height: 100%;
  width: 100%;
}


#skillsGrid {
  margin: 0px 5%;
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas:
  "sg1 sg2 sg3";
}

#sg1 {
  grid-area: sg1;
  background-image: url("../images/");
  background-color: #f5f5f5;
}
#sg2 {
  grid-area: sg2;
  background-image: url("../images/Waves-1-06.png");
  background-color: #f5f5f5;
}
#sg3 {
  grid-area: sg3;
  background-image: url("../images/Waves-1-06.png");
  background-color: #f5f5f5;
}

#portfolioHomeGrid {
  margin: 0px 5%;
  grid-gap: 16px;
  display: grid;
  padding-bottom: 2fr;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas:
  "phg1 phg2 phg3"
  "phg4 phg5 phg6"
  "phg7 phg8 phg9";
}

#phg1 {
  grid-area: phg1;
  background-color: #f5f5f5;
}

#phg2 {
  grid-area: phg2;
  background-color: #f5f5f5;
}
  #phg3 {
  grid-area: phg3;
  background-color: #f5f5f5;
}
  #phg4 {
  grid-area: phg4;
  background-color: #f5f5f5;
}
#phg5 {
  grid-area: phg5;
  background-color: #f5f5f5;
}
  #phg6 {
  grid-area: phg6;
  background-color: #f5f5f5;
}
#phg7 {
  grid-area: phg7;
  background-color: #f5f5f5;
}
#phg8 {
  grid-area: phg8;
  background-color: #f5f5f5;
}
#phg9 {
  grid-area: phg9;
  background-color: #f5f5f5;
}





@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #portfolioHomeGrid {
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px;
    grid-template-columns: 300px;
    grid-template-areas:
    "phg1"
    "phg2"
    "phg3"
    "phg4"
    "phg5"
    "phg6"
    "phg7"
    "phg8"
    "phg9";
  }
    ;}



@media only screen and (max-width: 600px) {


    #skillsGrid {
      grid-template-columns: 300px;
      grid-template-areas:
      "sg1"
      "sg2"
      "sg3";
    

    }
    ;}